@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* navbar star */
.nabar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
}
.nabar-logo #nav-img{
    width: 100%;
}
 span{
color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;

}
.nabar-title{
color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-weight: 800;

}

.navbar-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 3.3rem;
}
.nav-list > ul{
    display: flex;
    
}
.nav-list ul li{
color:  #424247;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
 list-style: none;
padding-left: 2.8rem;
}
/* bar icon res */
.checkbtn {
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-right: 10px;
  }
  #check {
    display: none;
  }

.nav-list ul a{ 
 text-decoration: none;
 
}
.nav-list #home{
color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* navbar end */

/* banner-section star */

select{
 font-size: 1rem;
padding: 16px;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;


}
.ban-form{
text-align: start;
width: 174px;
border-radius: 8px;
background: #FFF;
}


/* pactis... */


.banner-section{
    display: block;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(/images/banner_13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
}
.banner-all-text{
    text-align: center;
    padding-top: 106px;
    color: white;
}
.banner-hed{
color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
margin-bottom: 24px;
}

.banner-dep{
width: 670px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
margin: 0 auto;
}
.banner-form-type{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 48px;
    padding: 16px;
    gap: 24px; 
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
.banner-form-type input[type="text"]{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    padding: 1rem;
    text-align: start;
    
  }
   .btn-primary{
    padding: 10px 24px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
   }

button{
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 700;

}
/* banner-section end */

/* popular tour star */
.popular-tour-section{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-top: 100px;
    text-align: start;

}
.popular-tour-text{
    max-width: 100%;
    height: auto;
    background: #FFF;
    margin-left: 100px;

}
.popular-tour-heding{
 color: #131318;
text-align:start;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.popular-dep{
width: 100%;
color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
margin-bottom: 24px;
}
.popular-tour-section ul li{
width: 100%;
color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
line-height: 26px; 
}
.popular-dep-1{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    
}
.popular-tour-img{
    padding-right: 100px;
}

#popular-img{
  
    max-width: 500px;
    height: auto;

    
}
.popular-tour-text button{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 15px 30px;
    border: 0;
    margin-top: 32px;
}
.popular-btn{
    border-radius: 8px;
    background: #FF5400;
}
/* popular tour end */
/* Destination-section star */

.Destination-section-hedding{
color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
margin-top: 100px;
margin-bottom: 10px;

}
.destination-dep{
max-width:100%;
margin: 0 300px;
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.Maldives-1{
    position: relative;
    max-width: 49%;
}
.Maldives-title{
    position: absolute;
    bottom: 50%;
    left: 45%;
    color: #FFFFFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
}

.Destination-section-img{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 45px;
   
}


  /* choose-section star */
.choose-section-title{
    max-width: 100%;
    background: #FFF;
    text-align: center;
    margin-top: 100px;
    
}
.choose-section-title .choose-section-center{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.7rem;
    font-weight: 800;
}
.choose-section-title .choose-dep{
     max-width: 100%;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

  /* choose-section end */








/* meda quray  */

/* samll device */
@media screen and (max-width: 600px){
    header{
        width: 100%;
        height: auto;
    }

    .checkbtn{
        display: block !important;
    }
    header .nabar-logo{
        margin-left: 30px;
        padding: 20px;
    }
    header .nav-list ul{
        position: fixed;
       max-width: 100%;
        height: auto; 
        background: #f9f9ff;
        top: 135px;
        left: -200%;
        transition: all .1s;
    }
    header .nav-list ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
         left: 20px; 
    }

    .banner-section{
        max-width: 100%;
        height: auto;
    }
    .banner-section .banner-all-text{
        text-align: center;
        padding-top:30px;
        color: white;
    }
    .banner-section .banner-hed{
    color: #FFF;
    font-family: Mulish;
    font-size: 1.3rem;
    font-weight: 800;
    }
    .banner-section .banner-dep{
     max-width: 100%;
     color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 21px; 
    }
    .banner-form-type{
    
    max-width: 100%;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    }
    .banner-form-type input[type="text"]{ 
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: start;
    font-size: 1rem;
    border: 0;
   
  
    }
   .banner-form-type .btn-primary{
    max-width: 100%;
    height: auto;
    color: #FFF;
    text-align: center;
    font-size: 1rem;

   
    }
    option{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    background: #FFF;
    }
   .banner-form-type .ban-form{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;

    }
    .popular-tour-section{
        flex-direction: column;
    }
    .popular-tour-text{
        margin-left: 20px;
    }

    #popular-img{
    margin-left: 20px;
    max-width: 100%;
}
}
    

/* laptop dekstop device */
@media screen and (min-width: 600px) and (max-width: 992px){
    .nabar-logo #nav-img{
        max-width: 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    .nabar-logo{
        flex-direction: column;
        max-width: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .navbar-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 1rem;

    }
    .navbar-flex .nav-list{
        flex-direction: column;
        
    }
    .banner-form-type input[type="text"]{
            border: 0;
    }

    .banner-section {
        max-width: 100%;
        height: auto;
    }
    .banner-section .banner-all-text{
        text-align: center;
        padding-top:20px;
        color: white;
    }
    .banner-section .banner-dep{
        max-width: 90%;
    }
    .banner-form-type{
        flex-direction: column;
    }

    .popular-tour-section{
        flex-direction: column;
    }
    .popular-tour-img{
        padding-right:20px ;
    }

     .popular-tour-img #popular-img{
        max-width: 100%;

        }
        