@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* navbar star */
.nabar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
}
.nabar-logo #nav-img{
    width: 100%;
}
 span{
color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;

}
.nabar-title{
color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-weight: 800;

}

.navbar-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 3.3rem;
}
.nav-list > ul{
    display: flex;
    
}
.nav-list ul li{
color:  #424247;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 400;

    list-style: none;
    padding-left: 2.8rem;
}
/* bar icon res */
.checkbtn {
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-right: 10px;
  }
  #check {
    display: none;
  }

.nav-list ul a{ 
 text-decoration: none;
 
}
.nav-list #home{
color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* navbar end */

/* banner-section star */
/* pactis... */
select{
 font-size: 1rem;
padding: 16px;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-weight: 400;


}
.ban-form{
text-align: start;
width: 174px;
border-radius: 8px;
background: #FFF;
}


/* pactis... */


.banner-section{
    display: block;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(/images/banner_13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-top: 3rem;
}
.banner-all-text{
    text-align: center;
    padding-top: 106px;
    color: white;
}
.banner-hed{
color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
margin-bottom: 24px;
}

.banner-dep{
width: 670px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
line-height: 26px; 
margin: 0 auto;
}
.banner-form-type{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 48px;
    padding: 16px;
    gap: 24px; 
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}
.banner-form-type input[type="text"]{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    padding: 1rem;
    text-align: start;
    
  }
   .btn-primary{
    padding: 10px 24px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
   }

button{
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
  }
  

/* banner-section end */


/* meda quray  */

/* samll device */
@media screen and (max-width: 600px){
    header{
        width: 100%;
        height: auto;
    }

    .checkbtn{
        display: block !important;
    }
    header .nabar-logo{
        margin-left: 30px;
        padding: 20px;
    }
    header .nav-list ul{
        position: fixed;
        width: 100%;
        height: auto; 
        background: #f9f9ff;
        top: 135px;
        left: -200%;
        transition: all .1s;
    }
    header .nav-list ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
         left: 20px; 
    }

}
